<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link rel="stylesheet" href="css/reset.min.css">
  <link rel="stylesheet" href="css/main.min.css">
  <link rel="stylesheet" href="css/search.min.css">
  <title>tukutter</title>
</head>
<body>
  <main id="search">
    <header>
      <div class="profile">
        <img src="img/profile.png" alt="">
        <p>taro</p>
      </div>
      <nav>
        <ul>
          <li><a href="#">top</a></li>
          <li><a href="#">検索</a></li>
          <li><a href="#">つぶやく</a></li>
          <li><a href="#">お気に入り</a></li>
          <li><a href="#">ログアウト</a></li>
        </ul>
      </nav>
    </header>

    <div class="search">
      <form class="search-form" action="#" method="get">
        <input class="search-input" type="text" name="search_query" value="">
        <input type="submit" name="submit" value="検索">
      </form>
    </div>

    <div class="stream">

      <div class="content">
        <div class="stream-header">
          <img src="img/profile.png" alt="">
          <p>
            <span class="user-name">taro</span>
            <span class="tweet-time">2017/11/22/ 16:20</span>
            <span class="follow">フォロー中</span>
          </p>
        </div>
        <div class="inline">
          <div class="stream-content">
            <p>並阿弥陀</p>
          </div>
          <div class="stream-footer">
            <div class="favorite">
              <a href="#"><img src="img/logo-pic.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="stream-header">
          <img src="img/profile.png" alt="">
          <p>
            <span class="user-name">miadfadfasasdfasfdaka</span>
            <span class="tweet-time">2017/11/22/ 16:20</span>
            <span class="follow">フォロー中</span>
          </p>
        </div>
        <div class="inline">
          <div class="stream-content">
            <p>並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏</p>
          </div>
          <div class="stream-footer">
            <div class="favorite">
              <a href="#"><img src="img/logo-pic.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="stream-header">
          <img src="img/profile.png" alt="">
          <p>
            <span class="user-name">takuya</span>
            <span class="tweet-time">2017/11/22/ 16:20</span>
            <span class="follow">フォロー中</span>
          </p>
        </div>
        <div class="inline">
          <div class="stream-content">
            <p>並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏</p>
          </div>
          <div class="stream-footer">
            <div class="favorite">
              <a href="#"><img src="img/logo-pic.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="stream-header">
          <img src="img/profile.png" alt="">
          <p>
            <span class="user-name">mika</span>
            <span class="tweet-time">2017/11/22/ 16:20</span>
            <span class="follow">フォロー中</span>
          </p>
        </div>
        <div class="inline">
          <div class="stream-content">
            <p>並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏</p>
          </div>
          <div class="stream-footer">
            <div class="favorite">
              <a href="#"><img src="img/logo-pic.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="stream-header">
          <img src="img/profile.png" alt="">
          <p>
            <span class="user-name">mika</span>
            <span class="tweet-time">2017/11/21/ 16:20</span>
            <span class="follow">フォロー中</span>
          </p>
        </div>
        <div class="inline">
          <div class="stream-content">
            <p>並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏並阿弥陀仏</p>
          </div>
          <div class="stream-footer">
            <div class="favorite">
              <a href="#"><img src="img/logo-pic.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
</body>
</html>
